.box-set, 
   .box{
     border-radius: 5px;
   }
   .box-set{
   	background : #eaeaed;
   	overflow: hidden;
   	clear: both;
   }
   .box{
   	background: green;
   	float: left;
   	margin: 1.858736059%;
   	width: 5%;
   	height: 5%;
      padding: 20px ;
      text-align: center;
   }
   footer{
      
   }
.ng-invalid.ng-dirty{
   border-color: #FA787E;
}
.ng-valid.ng-dirty{
   border-color: #78FA89;
}