<!DOCTYPE html>
<!--ng-app ="store" is a directive which loads the module store when the doc loads.
    ng-app treats whole html page as part of the angular app.  -->
<html ng-app="store">
<head>
   <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  
   <link rel="stylesheet" type="text/css" href="css_file.css">
<title>Learning website</title>
</head>
<body ng-controller = "StoreController as store" >
   

<!--<div class = "box-set">
  <div class = "box"> Div A</div>
	<div class = "box" > Div B </div>
	<div class = "box"> Div C </div>
	</div>-->

<!-- ng-controller is a direcive which displays data on html page
     StoreController is the name of the controller
     store is an alias for StoreController and use inside our expression 
     scope of the controller is only inside that div-->
<!--<div ng-controller = "StoreController as store">-->
<div   ng-hide = "store.product.SoldOut ">
  <!--ng-repeat directve to repeat multiple items in the store , it is just like a for loop-->
  <ul class="list-group" >
    <li class= "list-group-item" ng-repeat="product in store.products">
  <h3>{{product.name}}</h3>
  <em>{{product.price | currency }}</em>
  <!-- ng-init directive to set initial value for tab, so it is set to description i.e tab =1 -->
  <section ng-init="tab=1">
      <ul class="nav nav-pills">
        <!--to highlight which tab is active a ng-class = active is used-->
        <li ng-class="{ active:tab === 1 }" >
          <a href ng-click="tab = 1">Description</a>
        </li>
        <li ng-class="{active: tab === 2}">
          <a href ng-click="tab = 2">Specifications</a>
        </li>
        <li ng-class="{active: tab === 3}">
          <a href ng-click="tab = 3">Reviews</a>
        </li>
      </ul> 
    <!--ng-show displays the value of the current tab that is selected-->
     <div class= 'panel' ng-show="tab == 1">
      <h4>Description</h4>
  <p>{{product.description | uppercase}}</p>
   </div>
    
     <div class= 'panel' ng-show="tab == 2">
      <blockquote>Specifications</blockquote>
  <p>Not yet</p>
   </div>
     
     <div class= 'panel' ng-show="tab == 3">
      <blockquote>Reviews</blockquote>
  <p>Not yet</p>
   </div>
    </section>
  <img ng-src='{{product.images[0].full}}'>
  <!--ng-show = "" shows #add to cart# button only when canPurchase value is True-->
  <button ng-show="store.product.canPurchase">Add to Cart</button>
</li>
</ul>
</div>
 
    <script type="text/javascript" src="angular.min.js"></script>
   <script type="text/javascript" src="app.js"></script>

   <footer>footer</footer>
</body>
</html>